main {
	background: url("../../images/background.png") no-repeat center center;
	height: 100%;
	position: relative;

	@media (max-width: 480px) {
		background-size: 100% 66%;
	}

	.page {
		padding-top: 10%;
		height: calc(100% - 20%);

		@media (max-width: 480px) {
			padding-top: 20%;
		}
	}
}
