.modal-button {
  background-color: #000;
  border-radius: 0.5rem;
  border: 0;
  box-shadow: 0 0 2rem white;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: .1em;
  outline: 0;
  overflow: hidden;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;
  text-decoration: underline;
  text-decoration-color: transparent;
  text-transform: uppercase;
  transition: 0.5s;

  &:hover {
    text-decoration: underline;
    text-decoration-color: white;
    box-shadow: 0 0 1rem black;
  }

  @media (max-width: 480px) {
    width: 95%;
  }
}
